.heading {
  color: gold;
  padding-left: 80px;
  text-align: left;
  font-family: serif;
}
img {
  padding-left: 80px;
  float: left;
  width: 400px;
  height: 400px ;
}
.column {
  color: teal:
  border: 2px;
  padding-right: 200px;
  text-align: right;
}
.About-me {
  color: black;
  padding-right: 640px;
  text-align: right;
  font-family: sans-serif;
}
.sidebar {
  width: 750px;
  float: right;
}
.important {
}
.skills {
  float: left;
  width: 1000px;
  padding-left: 570px;
}
.hobbies {
  float: left;
  width: 1000px;
  padding-left: 800px;
}
