.backimg {
  background-image: url("img/black.jpeg");
}
.heading {
  background-color: gold;
  padding-left: 80px;
  text-align: left;
  font-family: serif;
}
img {
  padding-left: 80px;
  float: left;
  width: 400px;
  height: 400px ;
}
.column {
  color: teal:
  border: 2px;
  padding-right: 200px;
  text-align: right;
}
.About-me {
  color: black;
  padding-right: 580px;
  text-align: right;
  font-family: sans-serif;
}
.sidebar {
  background-color: gainsboro;
  padding-left: 10px;
  padding-right: 10px;
  width: 750px;
  float: right;
}
.important {
}
.skills {
  float: left;
  width: 1000px;
  padding-left: 600px;
}
.name{
  font-family: monospace;
  font-weight:bold;
  padding-left: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
}
@media () {

}
