.heading {
  text-align: center;
  font-family: serif;
}
img {
  padding-left: 80px;
  float: left;
  width: 400px;
  height: 400px ;
}
.column {
  color: teal:
  border: 2px;
  padding-right: 200px;
  text-align: right;
}
.About-me {
  padding-right: 640px;
  text-align: right;
  font-family: sans-serif;
}
.sidebar {
  width: 750px;
  float: right;
}
.sidebarleft {
  float left;
}
